doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    //- meta(http-equiv="Content-Security-Policy" content="font-src 'self' data:; img-src 'self' data:; default-src 'self' http://121.0.0:3000/")
    title ShopStop
    link(rel='icon', type='image/x-icon', href='/content/images/favicon.ico')
    link(rel='stylesheet', type='text/css', href='/content/styles/site.min.css')
  body
    header
      nav.nav
        ul
          li
            a(href='/') Home Page
          li
            a(href='/product/add') Add Product
          li
            a(href='/category/add') Add Category
          li.delimeter
          li.align-right  
            a(href='/user/register') Register
          li.align-right  
            a(href='/user/login') Login
    if error
      h2.error-msg= error
    else if success
      h2.success-msg= success
    
    main
      block content
    footer
       p &copy;ShopStop
